body {
    display: flex;
}

h1 {
    text-align: center;
    margin: 300px auto 0 auto;
    font-size: 102px;
    text-transform: lowercase;
}

.calculator {
    margin: 100px auto 0 0;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 550px;
    background-color: gray;
    padding: 10px;
}

.display {
    height: 150px;
    background-color: burlywood;
    text-align: right;
    margin: 2px;
}

.buttons {
    height: 400px;
    margin: 10px 2px 2px 2px;
    background-color: burlywood;
    display: grid;
}